# Skyrupt

https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.

## Features

X1 net profit / total assets
X2 total liabilities / total assets
X3 working capital / total assets
X4 current assets / short-term liabilities
X5 [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365
X6 retained earnings / total assets
X7 EBIT / total assets
X8 book value of equity / total liabilities
X9 sales / total assets
X10 equity / total assets
X11 (gross profit + extraordinary items + financial expenses) / total assets
X12 gross profit / short-term liabilities
X13 (gross profit + depreciation) / sales
X14 (gross profit + interest) / total assets
X15 (total liabilities * 365) / (gross profit + depreciation)
X16 (gross profit + depreciation) / total liabilities
X17 total assets / total liabilities
X18 gross profit / total assets
X19 gross profit / sales
X20 (inventory * 365) / sales
X21 sales (n) / sales (n-1)
X22 profit on operating activities / total assets
X23 net profit / sales
X24 gross profit (in 3 years) / total assets
X25 (equity - share capital) / total assets
X26 (net profit + depreciation) / total liabilities
X27 profit on operating activities / financial expenses
X28 working capital / fixed assets
X29 logarithm of total assets
X30 (total liabilities - cash) / sales
X31 (gross profit + interest) / sales
X32 (current liabilities * 365) / cost of products sold
X33 operating expenses / short-term liabilities
X34 operating expenses / total liabilities
X35 profit on sales / total assets
X36 total sales / total assets
X37 (current assets - inventories) / long-term liabilities
X38 constant capital / total assets
X39 profit on sales / sales
X40 (current assets - inventory - receivables) / short-term liabilities
X41 total liabilities / ((profit on operating activities + depreciation) * (12/365))
X42 profit on operating activities / sales
X43 rotation receivables + inventory turnover in days
X44 (receivables * 365) / sales
X45 net profit / inventory
X46 (current assets - inventory) / short-term liabilities
X47 (inventory * 365) / cost of products sold
X48 EBITDA (profit on operating activities - depreciation) / total assets
X49 EBITDA (profit on operating activities - depreciation) / sales
X50 current assets / total liabilities
X51 short-term liabilities / total assets
X52 (short-term liabilities * 365) / cost of products sold)
X53 equity / fixed assets
X54 constant capital / fixed assets
X55 working capital
X56 (sales - cost of products sold) / sales
X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)
X58 total costs /total sales
X59 long-term liabilities / equity
X60 sales / inventory
X61 sales / receivables
X62 (short-term liabilities *365) / sales
X63 sales / short-term liabilities
X64 sales / fixed assets

In [24]:
from scipy.io import arff
import pandas as pd
import numpy as np
from random import shuffle

In [2]:
data = arff.loadarff('data/1year.arff')
df = pd.DataFrame(data[0])

df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,b'0'
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,b'0'
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,b'0'
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,b'0'
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,b'0'

In [3]:
df.shape

(7027, 65)

In [4]:
data

(array([( 0.20055 , 0.37951,  0.39641, 2.0472 ,   32.351 , 0.38825 ,  0.24976 , 1.3305  , 1.1389 , 0.50494 , 0.24976 ,  0.6598  ,  0.1666  ,  0.24976 ,    497.42,  0.73378 , 2.6349,  0.24976 ,  0.14942 , 43.37  , 1.2479 , 0.21402 ,  0.11998 , 0.47706 , 0.50494 ,  0.60411 ,  1.4582 ,  1.7615 , 5.9443, 0.11788, 0.14942 ,  94.14 , 3.8772, 0.56393 ,  0.21402 , 1.741  , 5.9327e+02, 0.50591,  0.12804 , 0.66295 , 0.051402, 0.12804 , 114.42 ,  71.05 ,  1.0097  , 1.5225 ,  49.394 ,  0.1853  ,  0.11085 , 2.042  , 0.37854, 0.25792,  2.2437 ,  2.248  ,  3.4869e+05,  0.12196 ,  0.39718 , 0.87804, 1.9240e-03,  8.416 , 5.1372,  82.658, 4.4158,  7.4277 , b'0'),
        ( 0.20912 , 0.49988,  0.47225, 1.9447 ,   14.786 , 0.      ,  0.25834 , 0.99601 , 1.6996 , 0.49788 , 0.26114 ,  0.5168  ,  0.15835 ,  0.25834 ,    677.96,  0.53838 , 2.0005,  0.25834 ,  0.152   , 87.981 , 1.4293 , 0.24806 ,  0.12304 ,      nan, 0.39542 ,  0.43992 , 88.444  , 16.946  , 3.6884, 0.26969, 0.152   , 122.17 , 2.9876, 2.9876  ,  0.20616 , 1.6996 ,        nan, 0.49788,  0.1213  , 0.086422, 0.064371, 0.14595 , 199.49 , 111.51 ,  0.51045 , 1.1252 , 100.13  ,  0.23727 ,  0.13961 , 1.9447 , 0.49988, 0.33472, 17.866  , 17.866  ,  2.3046e+03,  0.1213  ,  0.42002 , 0.853  , 0.0000e+00,  4.1486, 3.2732, 107.35 , 3.4   , 60.987  , b'0'),
        ( 0.24866 , 0.69592,  0.26713, 1.5548 ,   -1.1523, 0.      ,  0.30906 , 0.43695 , 1.309  , 0.30408 , 0.31258 ,  0.64184 ,  0.24435 ,  0.30906 ,    794.16,  0.45961 , 1.4369,  0.30906 ,  0.2361  , 73.133 , 1.4283 , 0.3026  ,  0.18996 ,      nan, 0.28932 ,  0.37282 , 86.011  ,  1.0627 , 4.3749, 0.41929, 0.23815 , 176.93 , 2.063 , 1.4274  ,  0.31565 , 1.309  , 2.3019e+00, 0.51537,  0.24114 , 0.32202 , 0.07402 , 0.23117 , 165.51 ,  92.381,  0.94807 , 1.0101 ,  96.372 ,  0.29181 ,  0.22293 , 1.0758 , 0.48152, 0.48474,  1.2098 ,  2.0504 ,  6.3327e+03,  0.24114 ,  0.81774 , 0.76599, 6.9484e-01,  4.9909, 3.951 , 134.27 , 2.7185,  5.2078 , b'0'),
        ...,
        ( 0.006338, 0.50276,  0.43923, 1.8736 ,    9.7417, 0.006338,  0.012022, 0.98356 , 1.0083 , 0.49449 , 0.012022,  0.023912,  0.014722,  0.012022,   3465.6 ,  0.10532 , 1.989 ,  0.012022,  0.003342, 34.862 ,     nan, 0.014559,  0.001762, 0.012022, 0.49449 ,  0.094015,      nan,  7.5711 , 4.041 , 0.13806, 0.003342,  51.443, 7.0952, 0.028958,  0.014559, 3.6054 ,        nan, 0.49449,  0.004048, 0.012816, 0.29788 , 0.004048,  94.936,  60.074,  0.018448, 1.1903 ,  35.153 , -0.02637 , -0.007331, 1.8736 , 0.50276, 0.14094,  8.5238 ,  8.5238 ,  4.8269e+03,  0.008258,  0.012817, 0.99174, 0.0000e+00, 10.47  , 6.0759,  51.019, 7.1542, 62.001  , b'1'),
        (-0.041643, 0.8481 , -0.12852, 0.57485, -121.92  , 0.      , -0.036795, 0.17901 , 0.42138, 0.15182 , 0.006414, -0.12172 , -0.030657, -0.036795, -23963.  , -0.015232, 1.1791, -0.036795, -0.087322,  9.1932, 0.64405, 0.006414, -0.098825, 0.045607, 0.12978 , -0.020947,  0.14843, -0.15557, 4.104 , 2.0119 , 0.01522 , 212.42 , 1.7183, 0.61247 , -0.098064, 0.52581, 2.9911e-01, 0.69731, -0.23272 , 0.096108, 0.9333  , 0.01522 , 125.36 , 116.17 , -3.9237  , 0.13122,   7.4576, -0.017463, -0.041444, 0.2049 , 0.3023 , 0.58197,  0.18377,  0.84405, -1.6330e+03, -0.23272 , -0.27429 , 0.98788, 3.5931e+00, 39.703 , 3.142 , 261.85 , 1.3939,  0.51005, b'1'),
        ( 0.014946, 0.94648,  0.03211, 1.0363 ,  -20.581 , 0.      ,  0.01526 , 0.056357, 2.9694 , 0.053341, 0.076621,  0.017266,  0.01542 ,  0.01526 ,   7545.  ,  0.048376, 1.0565,  0.01526 ,  0.005139, 24.275 ,     nan, 0.049167,  0.005034, 0.01526 , 0.015115,  0.048045,  0.80127,  0.37975, 3.1166, 0.31637, 0.014846, 110.37 , 3.3074, 3.0884  ,  0.046552, 2.9998 , 1.1422e+01, 0.11624,  0.015677, 0.007959, 0.39588 , 0.016558, 111.72 ,  87.443,  0.075684, 0.23141,  24.66  ,  0.018639,  0.006277, 0.96769, 0.88379, 0.30235,  0.63083,  1.3747 ,  4.2000e+01,  0.015705,  0.28021 , 0.97443, 1.1792e+00, 15.036 , 4.1741, 108.64 , 3.3599, 35.118  , b'1')],
       dtype=[('Attr1', '<f8'), ('Attr2', '<f8'), ('Attr3', '<f8'), ('Attr4', '<f8'), ('Attr5', '<f8'), ('Attr6', '<f8'), ('Attr7', '<f8'), ('Attr8', '<f8'), ('Attr9', '<f8'), ('Attr10', '<f8'), ('Attr11', '<f8'), ('Attr12', '<f8'), ('Attr13', '<f8'), ('Attr14', '<f8'), ('Attr15', '<f8'), ('Attr16', '<f8'), ('Attr17', '<f8'), ('Attr18', '<f8'), ('Attr19', '<f8'), ('Attr20', '<f8'), ('Attr21', '<f8'), ('Attr22', '<f8'), ('Attr23', '<f8'), ('Attr24', '<f8'), ('Attr25', '<f8'), ('Attr26', '<f8'), ('Attr27', '<f8'), ('Attr28', '<f8'), ('Attr29', '<f8'), ('Attr30', '<f8'), ('Attr31', '<f8'), ('Attr32', '<f8'), ('Attr33', '<f8'), ('Attr34', '<f8'), ('Attr35', '<f8'), ('Attr36', '<f8'), ('Attr37', '<f8'), ('Attr38', '<f8'), ('Attr39', '<f8'), ('Attr40', '<f8'), ('Attr41', '<f8'), ('Attr42', '<f8'), ('Attr43', '<f8'), ('Attr44', '<f8'), ('Attr45', '<f8'), ('Attr46', '<f8'), ('Attr47', '<f8'), ('Attr48', '<f8'), ('Attr49', '<f8'), ('Attr50', '<f8'), ('Attr51', '<f8'), ('Attr52', '<f8'), ('Attr53', '<f8'), ('Attr54', '<f8'), ('Attr55', '<f8'), ('Attr56', '<f8'), ('Attr57', '<f8'), ('Attr58', '<f8'), ('Attr59', '<f8'), ('Attr60', '<f8'), ('Attr61', '<f8'), ('Attr62', '<f8'), ('Attr63', '<f8'), ('Attr64', '<f8'), ('class', 'S1')]),
 Dataset: '1year-weka.filters.unsupervised.instance.SubsetByExpression-Enot
 	Attr1's type is numeric
 	Attr2's type is numeric
 	Attr3's type is numeric
 	Attr4's type is numeric
 	Attr5's type is numeric
 	Attr6's type is numeric
 	Attr7's type is numeric
 	Attr8's type is numeric
 	Attr9's type is numeric
 	Attr10's type is numeric
 	Attr11's type is numeric
 	Attr12's type is numeric
 	Attr13's type is numeric
 	Attr14's type is numeric
 	Attr15's type is numeric
 	Attr16's type is numeric
 	Attr17's type is numeric
 	Attr18's type is numeric
 	Attr19's type is numeric
 	Attr20's type is numeric
 	Attr21's type is numeric
 	Attr22's type is numeric
 	Attr23's type is numeric
 	Attr24's type is numeric
 	Attr25's type is numeric
 	Attr26's type is numeric
 	Attr27's type is numeric
 	Attr28's type is numeric
 	Attr29's type is numeric
 	Attr30's type is numeric
 	Attr31's type is numeric
 	Attr32's type is numeric
 	Attr33's type is numeric
 	Attr34's type is numeric
 	Attr35's type is numeric
 	Attr36's type is numeric
 	Attr37's type is numeric
 	Attr38's type is numeric
 	Attr39's type is numeric
 	Attr40's type is numeric
 	Attr41's type is numeric
 	Attr42's type is numeric
 	Attr43's type is numeric
 	Attr44's type is numeric
 	Attr45's type is numeric
 	Attr46's type is numeric
 	Attr47's type is numeric
 	Attr48's type is numeric
 	Attr49's type is numeric
 	Attr50's type is numeric
 	Attr51's type is numeric
 	Attr52's type is numeric
 	Attr53's type is numeric
 	Attr54's type is numeric
 	Attr55's type is numeric
 	Attr56's type is numeric
 	Attr57's type is numeric
 	Attr58's type is numeric
 	Attr59's type is numeric
 	Attr60's type is numeric
 	Attr61's type is numeric
 	Attr62's type is numeric
 	Attr63's type is numeric
 	Attr64's type is numeric
 	class's type is nominal, range is ('0', '1'))

In [13]:
df['class'].unique()

array([b'0', b'1'], dtype=object)

#### Format classes correctly

In [16]:
df = df.replace(b'0', 0)
df = df.replace(b'1', 1)

In [30]:
df = df.sample(frac=1)

In [35]:
df[ df['class' == 1] ].sum()

KeyError: False

In [19]:
df.corr()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
Attr1,1.000000,-0.155932,0.159913,0.014650,0.008364,0.129868,0.422068,0.016007,-0.561939,-0.349011,...,0.000061,0.004398,-0.000061,0.000287,-0.000375,0.009186,-0.000848,0.049427,-0.041161,-0.010643
Attr2,-0.155932,1.000000,-0.985782,-0.010019,-0.052235,-0.772227,-0.193355,-0.008612,-0.073338,-0.221383,...,-0.000655,-0.000743,0.000656,0.000979,-0.000016,-0.002368,0.005456,-0.017961,-0.104069,0.065150
Attr3,0.159913,-0.985782,1.000000,0.011219,0.052916,0.781194,0.087043,0.007717,-0.000664,0.155591,...,0.000019,0.002130,-0.000019,-0.001116,-0.000332,-0.001286,-0.005054,0.016156,-0.018111,-0.065102
Attr4,0.014650,-0.010019,0.011219,1.000000,-0.000885,0.003946,0.014725,0.191945,-0.013729,0.009601,...,0.001198,0.001944,-0.001198,-0.005648,-0.003344,-0.003024,-0.001617,0.259509,-0.002469,0.008071
Attr5,0.008364,-0.052235,0.052916,-0.000885,1.000000,0.040984,0.004792,0.002115,0.003074,0.008561,...,-0.000091,0.000274,0.000091,0.004470,-0.000193,-0.000168,-0.002224,0.005443,0.000218,-0.002013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Attr61,0.009186,-0.002368,-0.001286,-0.003024,-0.000168,0.001205,0.200103,0.013407,0.361653,0.246368,...,0.000716,0.001100,-0.000716,-0.001566,-0.000576,1.000000,-0.000907,0.180655,0.954745,-0.002534
Attr62,-0.000848,0.005456,-0.005054,-0.001617,-0.002224,-0.003916,-0.000973,-0.001838,-0.000829,-0.001491,...,-0.960360,-0.000528,0.960360,0.005322,-0.000248,-0.000907,1.000000,-0.006185,-0.000619,-0.002679
Attr63,0.049427,-0.017961,0.016156,0.259509,0.005443,0.008937,0.074479,0.492540,0.221595,0.044757,...,0.004864,0.009670,-0.004864,-0.011145,-0.001551,0.180655,-0.006185,1.000000,0.179843,0.004930
Attr64,-0.041161,-0.104069,-0.018111,-0.002469,0.000218,0.075933,0.193554,-0.066054,0.255474,0.322211,...,0.000486,-0.001642,-0.000486,-0.001674,-0.000581,0.954745,-0.000619,0.179843,1.000000,-0.007198
class,-0.010643,0.065150,-0.065102,0.008071,-0.002013,-0.052311,-0.012167,-0.000151,-0.007061,-0.018709,...,0.002390,-0.060032,-0.002389,0.002221,-0.002482,-0.002534,-0.002679,0.004930,-0.007198,1.000000